<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>服装商城</title>
		<link type="text/css" href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.picker.css" rel="stylesheet" />
		<link href="../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../css/app.css" rel="stylesheet" />
		<script src="../js/mui.js"></script>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/mui.picker.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/app.js"></script>
		<style>
			.guige {
				margin-left: 5px;
				margin-top: 5px;
				margin-bottom: 0px;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-arrowthinleft"></a>
			<h1 class="mui-title">订单确认</h1>
		</header>

		<div id="mui-content" class="mui-content" style="margin-bottom: 40px;background-color: #fff;" v-cloak>
			<template v-if="data.defaultAddress != null">
				<input type="hidden" id="addressId" :value="data.defaultAddress.id">
			</template>
			<template v-if="data.defaultAddress == null">
				<input type="hidden" id="addressId">
			</template>
			<div class="mui-row" style="margin-top: 20px;margin-left: 10px;border-bottom:1px solid gainsboro;height: 40px;">
				<div class="mui-col-sm-3 mui-col-xs-3">收货地址</div>
				<div class="mui-col-sm-9 mui-col-xs-9 mui-navigate-right">
					<template v-if="data.defaultAddress != null">
						<a class="mui-pull-right" id="chooseAddressBtn" style="margin-right: 30px;">{{data.defaultAddress.province}}{{data.defaultAddress.city}}{{data.defaultAddress.distric}}{{data.defaultAddress.address}}</a>
					</template>
					<template v-if="data.defaultAddress == null">
						<a class="mui-pull-right" id="chooseAddressBtn" style="margin-right: 30px;">选择收货地址</a>
					</template>
				</div>
			</div>

			<div class="mui-row" style="margin-left: 10px;" id="goodsVue">

				<div class="mui-row" style="margin-top:10px;" v-for="(oneData, index) in data.listData" v-bind:key="index">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-row" style="border-bottom:1px solid gainsboro;height: 110px;">
							<div class="mui-col-sm-12 mui-col-xs-12">
								<div class="mui-row">
									<div class="mui-col-sm-3 mui-col-xs-3">
										<img width="100%" height="100" class="mui-media-object" :src="oneData.goodsImg.url | realImgPath">
									</div>
									<div class="mui-col-sm-5 mui-col-xs-5">
										<p class='guige' style=" font-weight: 900;">【{{oneData.goods.brandName}}】{{oneData.goods.name}} {{oneData.goods.code}}</p>
										<p style="margin-left: 5px; margin-bottom: 0px;font-size: 12px;" v-for="(aleAttr, index) in oneData.saleAttrs" :key="aleAttr.id">{{aleAttr.attr}}:{{aleAttr.saleAttrValues[0].attrValue}}</p>
									</div>
									<div class="mui-col-sm-4 mui-col-xs-4">
										<div class="mui-pull-right">
											<p style="margin-right: 10px; margin-top: 5px; text-decoration: line-through;margin-bottom: 0px;font-size: 12px;color: #888888;">¥{{oneData.goods.price}}</p>
											<p class="geprice" style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px; display: none;">活动价{{oneData.goods.promotionPrice}}</p>
											<p class="vipprice" style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px; display: none;">会员价{{oneData.goods.vipPrice}}</p>
											<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{oneData.num}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="mui-row" style="margin-left: 10px;margin-top: 20px;">
				<div class="mui-row">
					<div class="mui-col-sm-3 mui-col-xs-3">配送方式</div>
					<div class="mui-col-sm-9 mui-col-xs-9 mui-navigate-right">
						<a class="mui-pull-right" id="chooseSendBtn" style="margin-right: 30px;">中通快递</a>
					</div>
				</div>
			</div>

			<div class="mui-row" style="margin-left: 10px;margin-top: 20px;">
				<div class="mui-row">
					<div class="mui-col-sm-3 mui-col-xs-3">商品总额</div>
					<div class="mui-col-sm-9 mui-col-xs-9 ">
						<label class="mui-pull-right " style="margin-right: 30px;">¥{{data.amount}}</label>
					</div>
				</div>
			</div>
			<div class="mui-row" style="margin-left: 10px;margin-top: 20px;">
				<div class="mui-row">
					<div class="mui-col-sm-3 mui-col-xs-3">运费</div>
					<div class="mui-col-sm-9 mui-col-xs-9 ">
						<label class="mui-pull-right " style="margin-right: 30px;">+¥{{data.freightAmount}}</label>
					</div>
				</div>
			</div>
			<div class="mui-row" style="margin-left: 10px;margin-top: 20px;background-color:#FAFAFA;color:#F0AD4E;font-size: 14px;">
				<div class="mui-row">
					<p>温馨提示：订单提交后，请于30分钟之内完成支付，超过30分钟，系统将自动取消订单。</p>
				</div>
			</div>
			<div class="mui-row" style="margin-left: 10px;margin-top: 0px;margin-right:10px;">
				<label>备注</label>
				<textarea placeholder="如果您有特殊需要，请输入备注信息" id="orderRemark"></textarea>
			</div>

			<nav class="mui-bar mui-bar-tab">
				<div class="mui-tab-item">
					<p style="font-size: 12px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;color: gray;">共件{{data.goodsCount}}商品</p>
					<p style="font-size: 14px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;color:red;">合计:{{data.amount}}元</p>
				</div>
				<div class="mui-tab-item" href="cart.html">
				</div>
				<a id='confirmBtn' style="height: 30px;top: 0px;color:white" class="mui-tab-item mui-btn mui-btn-danger mui-btn-noradius">提交订单</a>
			</nav>

		</div>

		<div id="sheet1" class="mui-popover mui-popover-bottom  mui-popover-action " style="height: 400px;overflow-y: auto;">
			<header class="mui-bar mui-bar-nav">
				<a href="#sheet1" class="mui-btn mui-poppicker-btn-cancel">取消</button>
					<a class="mui-btn mui-btn-blue mui-poppicker-btn-ok" id="confirmChoose">确定</a>
			</header>
			<div class="mui-content">
				<div class="mui-scroll-wrapper mui-content" id="pullrefresh">
					<div class="mui-scroll" id="refresh_container">
						<div id="addressVue" style="margin-top:40px;">
							<div class="mui-row" style="border-bottom:1px solid gainsboro;" v-for="(address, index) in data" :key="address.id">
								<div class=" mui-col-sm-2  mui-col-xs-2 mui-radio">
									<input style="top:15px;" name="checkbox" :value="address.id" type="radio">
								</div>
								<div class="mui-col-sm-10 mui-col-xs-10">
									<div class="mui-row">
										<div class="mui-col-sm-12 mui-col-xs-12">
											<p>{{address.linkMan}} {{address.linkPhone}}</p>
											<p class="mui-collapse-2">{{address.province}}{{address.city}}{{address.distric}}{{address.address}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</body>

	<script>
		
		Vue.filter("realImgPath", function(img) {
			return baseUpload + img;
		})
		
		var jiesuanDataVue = new Vue({
			el: '#mui-content',
			data: {
				data: []
			},
			updated: function() {
				this.$nextTick(function() {
					if(myLocalStorage.getItem("member").vip == 0) {
						$(".geprice").show();
						$(".vipprice").hide();
					} else {
						$(".geprice").hide();
						$(".vipprice").show();
					}
				})
			}
		});
		var addressVue = new Vue({
			el: '#addressVue',
			data: {
				data: []
			},
			updated: function() {
				this.$nextTick(function() {})
			}
		});

		function loadJieSuanDta() {
			$.ajax({
				dataType: "json",
				type: "post",
				url: basePath + "jieSuan/loadData",
				data: {
					skusStr: JSON.stringify(myLocalStorage.getItem("jiesuanData").skus),
					memberId: myLocalStorage.getItem("member").id
				},
				success: function(result) {
					if(result.success) {
						jiesuanDataVue.data = result.data;
					} else {
						mui.toast(result.message)
					}
				},
				error: function(result) {}
			});
		}

		function loadAddress() {
			$.ajax({
				dataType: "json",
				type: "post",
				async:false,
				url: basePath + "memberAddress/getList",
				data: {
					memberId: myLocalStorage.getItem("member").id
				},
				success: function(result) {
					if(result.success) {
						if(result.data.length == 0) {
							mui.confirm("还没添加过收货地址", "提示", ["去添加", "取消"], function(e) {
								if(e.index == 0) {
									mui.openWindow({
										url: "address_add.html",
										id: "addressAdd"
									})
								}
							})
							return
						}else{
							addressVue.data = result.data;
							mui('#sheet1').popover('show');
						}
					} else {
						mui.toast(result.message)
					}
				},
				error: function(result) {}
			});
		}

		mui.init();
		mui.ready(function() {
			loadJieSuanDta();

			var scroll = mui('.mui-scroll-wrapper').scroll();
			mui("body").on("tap", "#chooseAddressBtn", function() {
				loadAddress();
			})
			//选择快递
			var picker = new mui.PopPicker();
			picker.setData([{
				value: "first",
				text: "中通"
			}, {
				value: "second",
				text: "圆通"
			}, {
				value: "third",
				text: "顺丰"
			}])
			mui("body").on("tap", "#chooseSendBtn", function() {
				//picker.show();
			})

			mui("body").on("tap", "#confirmChoose", function() {
				var selectRadio = $("#addressVue").find(":radio:checked");
				if(selectRadio.val() == null) {
					mui.toast("请先勾选收货地址");
					return false;
				} else {
					$("#addressId").val(selectRadio.val());
					var text = selectRadio.parent().next().find(".mui-collapse-2").text();
					$("#chooseAddressBtn").text(text);
					mui('#sheet1').popover('hide');
				}
			})

			mui("body").on("tap", "#confirmBtn", function() {
				mui.confirm("确定要提交吗？", "提示", ["确定", "取消"], function(e) {
					if(e.index == 0) {
						var orderData = {};
						orderData.jiesuanData = myLocalStorage.getItem("jiesuanData");
						orderData.addressId = $("#addressId").val();
						orderData.remark = $("#orderRemark").val();
						if(addressId == null && addressId == "") {
							mui.toast("请选择收货地址!");
						}

						myLocalStorage.setItem("orderData", orderData);
						//让用户选择支付方式，然后跳转到后台
					}
				})
			})

		})
	</script>

</html>