<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>服装商城</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../css/pulltorefresh.css" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/dateUtil.js"></script>
		<style>
			.mui-control-content {
				background-color: white;
			}
			
			.mui-btn {
				padding: 3px;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-arrowthinleft"></a>
			<h1 class="mui-title">我的订单</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item1mobile">
						全部
					</a>
					<a class="mui-control-item" href="#item2mobile">
						待付款
					</a>
					<a class="mui-control-item" href="#item3mobile">
						待发货
					</a>
					<a class="mui-control-item" href="#item4mobile">
						已发货
					</a>
<!--					<a class="mui-control-item" href="#item5mobile">
						待评价
					</a>-->
					<a class="mui-control-item" href="#item6mobile">
						退货退款
					</a>
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="refresh_container">
								<div class="mui-row" style=""  id="vue1" v-cloak>
									<div class="mui-col-sm-12 mui-col-xs-12">
										<div class="mui-row " style="padding: 10px 15px 10px 15px;"  v-for="(order, index) in data" v-bind:key="order.id" :orderid="order.id">
											<p style="font-size: 12px;color: black;">订单编号：{{order.orderCode}} 
												<span class="mui-pull-right" style="color:red">{{order.orderStatus | orderStatusStr}}</span>
											</p>
											<div class="mui-row order" :orderid="order.id" style="border-bottom:1px solid gainsboro;height: 110px;" v-for="(orderDetail, index) in order.orderDetails" v-bind:key="orderDetail.id" :orderdetailid="orderDetail.id">
												<div class="mui-col-sm-12 mui-col-xs-12">
													<div class="mui-row">
														<div class="mui-col-sm-3 mui-col-xs-3">
															<img width="100%" height="100" class="mui-media-object" :src="orderDetail.goodsImage | realImgPath">
														</div>
														<div class="mui-col-sm-5 mui-col-xs-5">
															<p class='' style="margin-left: 5px; margin-top: 0px;margin-bottom: 0px;font-size: 12px; font-weight: 900;">【{{orderDetail.brandName}}】{{orderDetail.goodsName}}</p>
															<p v-for="(attr,index) in orderDetail.orderDetailAttrValues" style="margin-left: 5px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;">{{attr.attr}}:{{attr.attrValue}}</p>
														</div>
														<div class="mui-col-sm-4 mui-col-xs-4">
															<div class="mui-pull-right">
																<p style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px;" style="mui-pull-right">成交价:¥{{orderDetail.payPrice}}</p>
																<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{orderDetail.goodsNumber}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="mui-row">
												<p style="font-size: 12px;color: black;float:right">共{{order.orderDetails.length}}件商品 合计：¥{{order.orderAmount}}(含运费¥{{order.freight}})</p>
											</div>
											<div class="mui-row mui-pull-right">
												<template v-if="order.orderStatus == 1">
													<a class="mui-btn mui-btn-primary  topay" :orderid="order.id">去支付</a>
												</template>
												<template v-if="order.orderStatus == 2">
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 3">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary confirmrecieve" :orderid="order.id">确认收货</a>
												</template>
												<template v-if="order.orderStatus == 4">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 6">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
												</template>
											</div>
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-row" style=""  id="vue2" v-cloak>
									<div class="mui-col-sm-12 mui-col-xs-12">
										<div  class="mui-row " style="padding: 10px 15px 10px 15px;"  v-for="(order, index) in data" v-bind:key="order.id" :orderid="order.id">
											<p style="font-size: 12px;color: black;">订单编号：{{order.orderCode}} </p>
											<div class="mui-row order" :orderid="order.id" style="border-bottom:1px solid gainsboro;height: 110px;" v-for="(orderDetail, index) in order.orderDetails" v-bind:key="orderDetail.id" :orderdetailid="orderDetail.id">
												<div class="mui-col-sm-12 mui-col-xs-12">
													<div class="mui-row">
														<div class="mui-col-sm-3 mui-col-xs-3">
															<img width="100%" height="100" class="mui-media-object" :src="orderDetail.goodsImage | realImgPath">
														</div>
														<div class="mui-col-sm-5 mui-col-xs-5">
															<p class='' style="margin-left: 5px; margin-top: 0px;margin-bottom: 0px;font-size: 12px; font-weight: 900;">【{{orderDetail.brandName}}】{{orderDetail.goodsName}}</p>
															<p v-for="(attr,index) in orderDetail.orderDetailAttrValues" style="margin-left: 5px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;">{{attr.attr}}:{{attr.attrValue}}</p>
														</div>
														<div class="mui-col-sm-4 mui-col-xs-4">
															<div class="mui-pull-right">
																<p style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px;" style="mui-pull-right">成交价:¥{{orderDetail.payPrice}}</p>
																<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{orderDetail.goodsNumber}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="mui-row">
												<p style="font-size: 12px;color: black;float:right">共{{order.orderDetails.length}}件商品 合计：¥{{order.orderAmount}}(含运费¥{{order.freight}})</p>
											</div>
											<div class="mui-row mui-pull-right">
												<template v-if="order.orderStatus == 1">
													<a class="mui-btn mui-btn-primary  topay" :orderid="order.id">去支付</a>
												</template>
												<template v-if="order.orderStatus == 2">
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 3">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary confirmrecieve" :orderid="order.id">确认收货</a>
												</template>
												<template v-if="order.orderStatus == 4">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 6">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
												</template>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div  class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-row" style="" id="vue3" v-cloak>
									<div class="mui-col-sm-12 mui-col-xs-12">
										<div class="mui-row " style="padding: 10px 15px 10px 15px;"  v-for="(order, index) in data" v-bind:key="order.id" :orderid="order.id">
											<p style="font-size: 12px;color: black;">订单编号：{{order.orderCode}} </p>
											<div class="mui-row order" :orderid="order.id" style="border-bottom:1px solid gainsboro;height: 110px;" v-for="(orderDetail, index) in order.orderDetails" v-bind:key="orderDetail.id" :orderdetailid="orderDetail.id">
												<div class="mui-col-sm-12 mui-col-xs-12">
													<div class="mui-row">
														<div class="mui-col-sm-3 mui-col-xs-3">
															<img width="100%" height="100" class="mui-media-object" :src="orderDetail.goodsImage | realImgPath">
														</div>
														<div class="mui-col-sm-5 mui-col-xs-5">
															<p class='' style="margin-left: 5px; margin-top: 0px;margin-bottom: 0px;font-size: 12px; font-weight: 900;">【{{orderDetail.brandName}}】{{orderDetail.goodsName}}</p>
															<p v-for="(attr,index) in orderDetail.orderDetailAttrValues" style="margin-left: 5px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;">{{attr.attr}}:{{attr.attrValue}}</p>
														</div>
														<div class="mui-col-sm-4 mui-col-xs-4">
															<div class="mui-pull-right">
																<p style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px;" style="mui-pull-right">成交价:¥{{orderDetail.payPrice}}</p>
																<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{orderDetail.goodsNumber}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="mui-row">
												<p style="font-size: 12px;color: black;float:right">共{{order.orderDetails.length}}件商品 合计：¥{{order.orderAmount}}(含运费¥{{order.freight}})</p>
											</div>
											<div class="mui-row mui-pull-right">
												<template v-if="order.orderStatus == 1">
													<a class="mui-btn mui-btn-primary  topay" :orderid="order.id">去支付</a>
												</template>
												<template v-if="order.orderStatus == 2">
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 3">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary confirmrecieve" :orderid="order.id">确认收货</a>
												</template>
												<template v-if="order.orderStatus == 4">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 6">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
												</template>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div  class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-row" style="" id="vue4" v-cloak>
									<div class="mui-col-sm-12 mui-col-xs-12">
										<div class="mui-row" style="padding: 10px 15px 10px 15px;"  v-for="(order, index) in data" v-bind:key="order.id" :orderid="order.id">
											<p style="font-size: 12px;color: black;">订单编号：{{order.orderCode}} </p>
											<div class="mui-row order" :orderid="order.id" style="border-bottom:1px solid gainsboro;height: 110px;" v-for="(orderDetail, index) in order.orderDetails" v-bind:key="orderDetail.id" :orderdetailid="orderDetail.id">
												<div class="mui-col-sm-12 mui-col-xs-12">
													<div class="mui-row">
														<div class="mui-col-sm-3 mui-col-xs-3">
															<img width="100%" height="100" class="mui-media-object" :src="orderDetail.goodsImage | realImgPath">
														</div>
														<div class="mui-col-sm-5 mui-col-xs-5">
															<p class='' style="margin-left: 5px; margin-top: 0px;margin-bottom: 0px;font-size: 12px; font-weight: 900;">【{{orderDetail.brandName}}】{{orderDetail.goodsName}}</p>
															<p v-for="(attr,index) in orderDetail.orderDetailAttrValues" style="margin-left: 5px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;">{{attr.attr}}:{{attr.attrValue}}</p>
														</div>
														<div class="mui-col-sm-4 mui-col-xs-4">
															<div class="mui-pull-right">
																<p style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px;" style="mui-pull-right">成交价:¥{{orderDetail.payPrice}}</p>
																<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{orderDetail.goodsNumber}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="mui-row">
												<p style="font-size: 12px;color: black;float:right">共{{order.orderDetails.length}}件商品 合计：¥{{order.orderAmount}}(含运费¥{{order.freight}})</p>
											</div>
											<div class="mui-row mui-pull-right">
												<template v-if="order.orderStatus == 1">
													<a class="mui-btn mui-btn-primary  topay" :orderid="order.id">去支付</a>
												</template>
												<template v-if="order.orderStatus == 2">
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 3">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary confirmrecieve" :orderid="order.id">确认收货</a>
												</template>
												<template v-if="order.orderStatus == 4">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 6">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
												</template>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item6mobile" class="mui-slider-item mui-control-content">
						<div  class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-row" style="" id="vue6" v-cloak>
									<div class="mui-col-sm-12 mui-col-xs-12">
										<div class="mui-row" style="padding: 10px 15px 10px 15px;"  v-for="(order, index) in data" v-bind:key="order.id" :orderid="order.id">
											<p style="font-size: 12px;color: black;">订单编号：{{order.orderCode}} </p>
											<div class="mui-row order" :orderid="order.id" style="border-bottom:1px solid gainsboro;height: 110px;" v-for="(orderDetail, index) in order.orderDetails" v-bind:key="orderDetail.id" :orderdetailid="orderDetail.id">
												<div class="mui-col-sm-12 mui-col-xs-12">
													<div class="mui-row">
														<div class="mui-col-sm-3 mui-col-xs-3">
															<img width="100%" height="100" class="mui-media-object" :src="orderDetail.goodsImage | realImgPath">
														</div>
														<div class="mui-col-sm-5 mui-col-xs-5">
															<p class='' style="margin-left: 5px; margin-top: 0px;margin-bottom: 0px;font-size: 12px; font-weight: 900;">【{{orderDetail.brandName}}】{{orderDetail.goodsName}}</p>
															<p v-for="(attr,index) in orderDetail.orderDetailAttrValues" style="margin-left: 5px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;">{{attr.attr}}:{{attr.attrValue}}</p>
														</div>
														<div class="mui-col-sm-4 mui-col-xs-4">
															<div class="mui-pull-right">
																<p style="margin-right: 10px; color: red;margin-top: 5px;margin-bottom: 0px;font-size: 12px;" style="mui-pull-right">成交价:¥{{orderDetail.payPrice}}</p>
																<p style="margin-right: 10px; margin-top: 5px;margin-bottom: 0px;font-size: 12px;color: #888888;">x{{orderDetail.goodsNumber}}</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="mui-row">
												<p style="font-size: 12px;color: black;float:right">共{{order.orderDetails.length}}件商品 合计：¥{{order.orderAmount}}(含运费¥{{order.freight}})</p>
											</div>
											<div class="mui-row mui-pull-right">
												<template v-if="order.orderStatus == 1">
													<a class="mui-btn mui-btn-primary  topay" :orderid="order.id">去支付</a>
												</template>

												<template v-if="order.orderStatus == 3">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary confirmrecieve" :orderid="order.id">确认收货</a>
												</template>
												<template v-if="order.orderStatus == 4">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
													<a class="mui-btn mui-btn-primary applayrefund" :orderid="order.id">退货退款</a>
												</template>
												<template v-if="order.orderStatus == 6">
													<a class="mui-btn seepost" :orderid="order.id">查看物流</a>
												</template>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<script>
			//vuejs部分
			Vue.filter("dateToStr", function(longtime, formatString) {
				return dateUtil.dateToStr(new Date(longtime), formatString);
			})
			Vue.filter("realImgPath", function(img) {
				return baseUpload + img;
			})
			Vue.filter("orderStatusStr", function(orderStatus) {
				if(orderStatus ==1){
					return "待付款"
				}
				if(orderStatus ==2){
					return "待发货"
				}
				if(orderStatus ==3){
					return "已发货"
				}
				if(orderStatus ==4){
					return "交易完成"
				}
				if(orderStatus == 6){
					return "退货退款"
				}
			})
			//加载数据方法
			var pageVo = {
				pageNumber: 1,
				pageSize: 3,
				memberId:myLocalStorage.getItem("member").id
			}
			var vue1 = new Vue({
				el: '#vue1',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				},
				methods:{
					pwd:function(){
						alert(1)
					}
				}
			});
			var vue2 = new Vue({
				el: '#vue2',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				}
			});
			var vue3 = new Vue({
				el: '#vue3',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				}
			});
			var vue4 = new Vue({
				el: '#vue4',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				}
			});
/*			var vue5 = new Vue({
				el: '#vue5',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				}
			});*/
			var vue6 = new Vue({
				el: '#vue6',
				data: {
					data: []
				},
				updated: function() {
					this.$nextTick(function() {
					})
				}
			});
			
			
			function loadListNopage(orderStatus,vue){
				$.ajax({
					dataType: "json",
					type: "post",
					url: basePath + "order/getListNoPage",
					data: {orderStatus:orderStatus,memberId:myLocalStorage.getItem("member").id},
					success: function(result) {
						if(result.success) {
							vue.data = result.data;
						} else {
							mui.toast(result.message)
						}

					},
					error: function(result) {
						mui.toast("请求遇到问题!")
					}
				});
			}
			
			
			function initHeight() {
				var titleH = $(".mui-title").height();
				var sliderCH = $("#sliderSegmentedControl").height();
				var dh = $(window).height();
				$(".mui-control-content").css("height", dh - titleH - sliderCH);
			}

			mui.init({
				swipeBack: false
			});
			mui.ready(function() {
				initHeight();
				loadListNopage(1,vue2);
				loadListNopage(2,vue3);
				loadListNopage(3,vue4);
				loadListNopage(6,vue6);

				mui('#slider').slider().gotoItem(myLocalStorage.getItem("orderstate"));
				
				document.querySelector('#slider').addEventListener('slide', function(event) {
					switch (event.detail.slideNumber){
						case 0:
							myLocalStorage.removeItem("orderstate")
							break;
						case 1:
							myLocalStorage.setItem("orderstate",1)
							break;
						case 2:
							myLocalStorage.setItem("orderstate",2)
							break;
						case 3:
							myLocalStorage.setItem("orderstate",3)
							break;
						case 4:
							myLocalStorage.setItem("orderstate",6)
							break;
						default:
							break;
					}
				});
				
				mui('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});

				var count = 0;
				// 刷新组件对象
				var pullToRefresh1 = mui('#refresh_container').pullToRefresh({
					down: {
						callback: function() {
							var _self = this;
							setTimeout(function() {
								pageVo.pageNumber = 1;
								$.ajax({
									dataType: "json",
									type: "post",
									url: basePath + "order/getList",
									data: pageVo,
									success: function(result) {
										if(result.success) {
											vue1.data = result.data;
											pageVo.pageNumber += 1;
											_self.endPullDownToRefresh();
											_self.refresh(true);
										} else {
											mui.toast(result.message)
										}

									},
									error: function(result) {
										mui.toast("请求遇到问题!")
									}
								});
							}, 500);
						}
					},
					up: {
						auto: true, //默认执行一次上拉加载
						callback: function() {
							var _self = this;
							setTimeout(function() {
								$.ajax({
									dataType: "json",
									type: "post",
									url: basePath + "order/getList",
									data: pageVo,
									success: function(result) {
										if(result.success) {
											vue1.data = vue1.data.concat(result.data); //把数组合并的结果设置成新值
											_self.endPullUpToRefresh(result.pages <= pageVo.pageNumber);
											pageVo.pageNumber += 1;
										} else {
											mui.toast(result.message)
										}
									},
									error: function(result) {
										mui.toast("请求遇到问题!")
									}
								});
							}, 500);
						}
					}
				});
				
				//到订单详细
				mui("body").on("tap",".order",function(){
					myLocalStorage.setItem("orderId",$(this).attr("orderid"))
					mui.openWindow({
						url:"./order_detail.html",
						id:"orderDetail"
					})
				})
				
				//去支付
				mui("body").on("tap", ".topay", function() {
					mui.confirm("请选择支付方式!", "支付方式", ["支付宝", "微信", "取消"], function(e) {
						if(e.index == 0) {
						} else {
						}
					})
				})
				//查看物流
				mui("body").on("tap", ".seepost", function() {
					mui.openWindow({
						url:"post_detail.html",
						id:"postDetail"
					})
				})
				//确认收货
				mui("body").on("tap", ".confirmrecieve", function() {
					var orderId = $(this).attr("orderid");
					mui.confirm("确定已收货？","提示",["确定","取消"],function(e){
						if(e.index==0){
							var param = {};
							param.id=orderId;
							param.orderStatus=4
							$.ajax({
									dataType: "json",
									type: "post",
									url: basePath + "order/update",
									data: param,
									success: function(result) {
										if(result.success) {
											pullToRefresh1.pullDownLoading();
											loadListNopage(3,vue4);
										} else {
											mui.toast(result.message)
										}
									},
									error: function(result) {
										mui.toast("请求遇到问题!")
									}
								});
						}
					})
				})
				//申请退款页面
				mui("body").on("tap", ".applayrefund", function() {
					myLocalStorage.setItem("orderid",$(this).attr("orderid"))
					mui.openWindow({
						url:"./order_detail.html",
						id:"orderDetail"
					})
				})
			})
		</script>

	</body>

</html>