<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>服装商城</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/icons-extra.css" />
		<script src="../js/mui.min.js "></script>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/vue.min.js"></script>
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-page .mui-table-view:first-child {
				margin-top: 15px;
			}
			
			.mui-table-view {
				margin-top: 20px;
			}
			
			.mui-icon-extra {
				font-family: MuiiconSpread;
				font-size: 24px;
				font-weight: 400;
				font-style: normal;
				color: #000000;
				line-height: 1;
				display: inline-block;
				text-decoration: none;
				-webkit-font-smoothing: antialiased;
			}
			
			.mui-bar .mui-icon {
				font-size: 24px;
				position: relative;
				font-weight: 400;
				color: #000000;
				z-index: 20;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			/*问题反馈在setting页面单独的css==end*/
		</style>
		<link rel="stylesheet" type="text/css" href="../css/feedback.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="headerVue" v-cloak>
			<a class="mui-action-back mui-icon mui-icon-arrowthinleft"></a>
			<h1 class="mui-title">个人中心</h1>
			<div class="mui-title-div mui-pull-right" style="margin-right: 0px;">
				<a id="toCart" class="mui-icon  mui-icon-extra mui-icon-extra-cart">
					<template v-if="data.cartNum>0">
						<span class="mui-badge cartNum" style="top: 5px; margin-left: -18px;">{{data.cartNum}}</span>
					</template>
				</a>
				<a id="toMsgCenter" style="margin-left: 3px;" class="mui-icon mui-icon-chatboxes ">
					<template v-if="data.msgNum>0">
						<span class="mui-badge chatNum" style="top: 5px; margin-left: -18px;">{{data.msgNum }}</span>
					</template>
				</a>
			</div>
		</header>
		<!--页面标题栏结束-->
		<!--页面主内容区开始-->
		<div class="mui-content" id="mui-content" v-cloak>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media">
					<a class="mui-navigate-right">
						<!--<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../images/kf.jpg">-->
						<div class="mui-media-body">
							{{data.nickname}}
							<p class='mui-ellipsis'>{{data.phone}}</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="mui-table-view mui-table-view-chevron">
				<div class="mui-table-view-cell ">
					<a id="toOrder" class="mui-navigate-right">全部订单</a>
				</div>

				<div id="slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item" orderstate="1" href="#item2mobile">
							待付款
						</a>
						<a class="mui-control-item" orderstate="2" href="#item3mobile">
							待发货
						</a>
						<a class="mui-control-item" orderstate="3" href="#item4mobile">
							已发货
						</a>
						<a class="mui-control-item" orderstate="4" href="#item5mobile">
							待评价
						</a>
						<a class="mui-control-item" orderstate="5" href="#item6mobile">
							退货退款
						</a>
					</div>
				</div>
			</div>
			<!--			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell ">
					<a>账户余额：<span style="color: red;">¥ 22.00</span></a>
					<a class="mui-btn mui-btn-primary">充值</a>
				</li>
				<li class="mui-table-view-cell">
					<a onclick="mui.toast('功能暂未开放')" class="mui-navigate-right">升级vip</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="address.html" class="mui-navigate-right">收货地址管理</a>
				</li>
			</ul>-->
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">
					<a onclick="mui.toast('功能暂未开放')" class="mui-navigate-right">升级vip</a>
				</li>
				<li class="mui-table-view-cell ">
					<a id="setting" class="mui-navigate-right">设置</a>
				</li>
				<li class="mui-table-view-cell ">
					<a>账户余额：<span style="color: red;">¥ 22.00</span></a>
					<a class="mui-btn mui-btn-primary">充值</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="address" class="mui-navigate-right">收货地址管理</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="shuoming" class="mui-navigate-right">上线说明</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="baodianbidu" class="mui-navigate-right">宝典必读</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="chat" class="mui-navigate-right">联系客服</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="feedback" class="mui-navigate-right">意见反馈</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="about" class="mui-navigate-right">关于</a>
				</li>
			</ul>

			<div class="mui-content-padded">
				<button id='logoutBtn' class="mui-btn mui-btn-block mui-btn-danger">注销</button>
			</div>
		</div>

	</body>
	<script type="text/javascript" charset="utf-8">
		var headerVue = new Vue({
			el: "#headerVue",
			data: {
				data: {
					cartNum: 0,
					msgNum: 0
				}
			}
		})

		var myVue = new Vue({
			el: '#mui-content',
			data: {
				data: myLocalStorage.getItem("member")
			},
			updated: function() {
				this.$nextTick(function() {})
			}
		});

		function initHeader() {
			$.ajax({
				dataType: "json",
				type: "post",
				url: basePath + "loadHeaderNum",
				data: {
					memberId: myLocalStorage.getItem("member").id
				},
				success: function(result) {
					if(result.success) {
						headerVue.data = result.data;
					} else {
						mui.toast(result.message)
					}
				},
				error: function(result) {}
			});
		}

		mui.init();
		mui.ready(function() {
			initHeader()
			//按钮事件
			mui("body").on("tap", "#toCart", function() {
				mui.openWindow({
					url: "cart.html",
					id: "card"
				})
			})
			mui("body").on("tap", "#setting", function() {
				mui.openWindow({
					url: "setting.html",
					id: "setting"
				})
			})
			//都地址管理
			mui("body").on("tap", "#address", function() {
				mui.openWindow({
					url: "address.html",
					id: "address"
				})
			})
			//说明
			mui("body").on("tap", "#shuoming", function() {
				mui.openWindow({
					url: "shuoming.html",
					id: "shuoming"
				})
			})
			//宝典必读
			mui("body").on("tap", "#baodianbidu", function() {
				mui.openWindow({
					url: "baodianbidu.html",
					id: "baodianbidu"
				})
			})

			//聊天
			mui("body").on("tap", "#chat", function() {
				mui.openWindow({
					url: "chat.html",
					id: "chat"
				})
			})
			//聊天
			mui("body").on("tap", "#feedback", function() {
				mui.openWindow({
					url: "feedback.html",
					id: "feedback"
				})
			})

			//关于
			mui("body").on("tap", "#about", function() {
				mui.openWindow({
					url: "about.html",
					id: "about"
				})
			})

			//到消息中心
			document.getElementById("toMsgCenter").addEventListener("tap", function() {
				mui.openWindow({
					url: "msgCenter.html",
					id: "msgCenter"
				})
			})
			//退出登录
			document.getElementById("logoutBtn").addEventListener("tap", function() {
				myLocalStorage.removeItem("user");
				location.href = "../login.html";
			})
			//到订单中心
			$("#sliderSegmentedControl").children().each(function() {
				this.addEventListener("tap", function() {
					myLocalStorage.setItem("orderstate", $(this).attr("orderstate"));
					mui.openWindow({
						url: "order.html",
						id: "order"
					})

				})
			})
			//到订单中心
			document.getElementById("toOrder").addEventListener("tap", function() {
				myLocalStorage.setItem("orderstate", 0);
				mui.openWindow({
					url: "order.html",
					id: "order"
				})
			})
			//刷新角标数字
			window.addEventListener("refreshCartNum", function(event) {
				refreshCartNum(event.detail.num);
			})
			window.addEventListener("refreshChatNum", function(event) {
				refreshChatNum(event.detail.num);
			})
		})
	</script>

</html>